.header_part{
    height: 50px;
    background-color: black;
    color: white;
    font-size: 11px; 
    text-align: center; 
}
.first_part{
    min-width: 80%;
    max-width: 100%;

}
html {
    scroll-behavior: smooth;
  }

@media screen and (max-width: 900px) {
    .contactus{
        display: none;
    }
    .loginpart p{
        display: none;
    }
    .loginclild i{
        display: none;
    }
    .brandname {
        max-width:100%;
        max-height:100%;
        margin:auto;
    }
  }
.brandname p{
      padding-top: 0px;
  }
.contactus{
    margin-top: 15px;
    margin-left: 50px;
}
.loginpart{
    margin-top: 15px;
}
.loginclild{
    margin-top: -3px;
    margin-left: 20px;
}
.loginclild a{
    color: white;
}
.signin{
    margin-right: 10px;
}
.header_part2{
    background-color: #0B3561;
    color: #FFFFFF;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    font-size: 12px;
    padding-top: 10px;
  
}
.searchbar{
    gap: 100px;
    margin-top: 15px;
   
}
.myaccount {
    margin-left: 65%;
    font-size: 12px;
    gap: 25px;
    float: right;
    margin-top: 15px;
}
.myaccount :hover{
    text-decoration-line: underline;
}
@media screen and (max-width: 900px) {
    .secondpart{
        background-color: black;
        color: #FFFFFF;
        width: 95%;
        margin-top: -45px;
        position: relative;
        padding-top: 10px;
        top: 45px;
    }
    .searchbar{

        margin:auto;
    }
    .myaccount{
        margin-top: 15px;
        margin:auto; 
    }
    .myaccount .giftcer{
        display: none;
    }
  }

    @media screen and (max-width: 900px) {
    .header_part2{
        position: absolute;
        top: 100px;
        height: 47px;
        width: 100%;
    }

  }
  .thirtpart{
      text-align: center;
      font-family: "Franklin Gothic Medium", cursive;
      background-color: #FFFFFF;
  }
 
/* 4th part */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'popins' , sans-serif;
}
nav{
	background:lightgrey;
	width: 100%;
	position: fixed;
	z-index: 999;
	line-height: 65px;

}
nav .wrapper{
	max-width: 1280px;
	padding: 0 30px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.wrapper .nav-links{
	display: inline-flex;
	margin-left: 15%;
}
.nav-links li{
	list-style: none;
}
.nav-links li a{
	color: black;
	text-decoration: none;
	font-size: 15px;
	font-weight: 500;
	padding: 0px 10px;
	background: linear-gradient(60deg lightgrey grey);
	border-radius: 5px;
    transition: all 0.5S ease ;
}
.nav-links li a:hover{
    background: #8fbbeb;
}
.nav-links .first_dropdown{
    background: #FFFFFF;
    width: 200px;
    top: 62px;
    left: 24%;
    line-height: 45px;
    position: absolute;
    opacity: 0;
    visibility: hidden;

}
.nav-links li:hover .first_dropdown{
    top: 80px;
    opacity: 1;
    visibility: visible;
    transition: all 0.2S ease ;
}
.first_dropdown li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px ;
    font-weight: 400;
    border-radius: 0px;
}
.nav-links .second_dropdown {
    background: #FFFFFF;
    width: 200px;
    top: 62px;
    left: 568px;
    line-height: 45px;
    position: absolute;
    opacity: 0;
    visibility: hidden;

}
.nav-links li:hover .second_dropdown{
    top: 80px;
    opacity: 1;
    visibility: visible;
    transition: all 0.2S ease ;
}
.second_dropdown li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px ;
    font-weight: 400;
    border-radius: 0px;
}
@media screen and (max-width: 1000px) {

    nav{
        top:300px
    }

} 